

@import "compass/css3";

.btn-xl {
	font-size: 48px;
	padding: .5em 1em;
}

.btn-inverse {
	color: #FFF;
	background-color: #222;
	border-color: #000;
	&:hover {
		border-color: #000;
		color: #FFF;
		background-color: #000;
	}
	&.active {
		border-color: #000;
		background-color: #080808;
		color: #FFF;
	}
}

.btn-flat {
	border-color: transparent;
	@include border-radius(0);
}

$btn_cool_hover_transition_duration: .2s;

.btn-cool-hover {
	position: relative;
	.first-child,:first-child {
		@include transition-property(opacity);
		@include transition-duration($btn_cool_hover_transition_duration); 
		@include transition-delay($btn_cool_hover_transition_duration);
		opacity: 1;
		line-height: inherit;
	}
	.last-child,:last-child {
		@include transition-property(opacity);
		@include transition-duration($btn_cool_hover_transition_duration); 
		opacity: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		left: 0;
		line-height: inherit;
	}
	&:hover {
		.first-child,:first-child {
			opacity: 0;
		}
		.last-child,:last-child {
			@include transition-delay($btn_cool_hover_transition_duration*2);
			opacity: 1;
		}
	}
}