
@import "compass/css3";

.icon-preview {
	position: relative;
	height: 256px;
	background: #FFF;
}

.icon-preview-inner {
	position: absolute;
	height: 1px;
	width: 100%;
	top: 50%;
	left: 0;
	overflow: visible;
	text-align: center;
}

.btn-icon-16s,
.btn-icon-16,
.btn-icon-32,
.btn-icon-48,
.btn-icon-64,
.btn-icon-80,
.btn-icon-96,
.btn-icon-112,
.btn-icon-128 {
	position: relative;
}

.btn-icon-16s {
	top: -16px;
}

.btn-icon-16 {
	top: -24px;
}

.btn-icon-32 {
	top: -32px;
}

.btn-icon-48 {
	top: -48px;
}

.btn-icon-64 {
	top: -64px;
}

.btn-icon-80 {
	top: -80px;
}

.btn-icon-96 {
	top: -96px;
}

.btn-icon-112 {
	top: -112px;
}

.btn-icon-128 {
	top: -128px;
}

.bubble {
	font-size: 512px;
	@include rotate(180deg);
	position: relative;
	top: -220px;
	left: -400px;
}

.bubble-text {
	font-size: 1.2em;
	line-height: 1.2;
	color: #FFF;
	@media(min-width:992px){
		position: relative;
		top: -635px;
		left: 75px;
		width: 400px;
		text-align: center;
	}
	@media(max-width:991px){
		background: #222;
		padding: 60px;
		@include border-radius(4px);
	}
	span {
		display: block;
		font-size: 2.2em;
		margin-top: 20px;
	}
}