body {
  color: #5B6475;
  background: #EBECF2;
  font: 2em/1 sans-serif;
}

a {
  color: #5B6475;
}
a:hover {
  text-decoration: none;
}

hr {
  border-color: #5B6475;
}

body > .container {
  max-width: 100%;
  padding: 0;
}

header {
  padding-top: 50px;
  text-align: center;
}

#logo {
  font: 2.5em/1 'Damion', sans-serif;
}

#nav-main {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#nav-main a {
  display: inline-block;
  margin: 0 30px;
  font-size: 64px;
  border-radius: 50%;
  width: 110px;
  box-sizing: border-box;
}
#nav-main a i {
  line-height: 110px;
}

#nav-sub a {
  width: 100px;
  display: inline-block;
  line-height: 2;
}
#nav-sub a i {
  font-size: 32px;
  display: block;
}

#main {
  max-width: 800px;
  position: relative;
}

#page-search #main {
  padding-top: 50px;
}

#nav-section {
  position: absolute;
  height: 100%;
  top: 30px;
  right: -50px;
  border-left: 1px solid #5B6475;
  padding: 10px;
  font-size: 32px;
}
#nav-section a {
  color: #5B6475;
  display: block;
  margin-bottom: 10px;
}

.note {
  background: rgba(255, 255, 255, 0.5);
  padding: 40px 80px;
  margin-top: 30px;
  line-height: 1.5;
}
.note:hover {
  background: white;
}

footer {
  padding: 300px;
}
