@import url(forms.css);
@import url(icons.css);
@import url(scrollbar.css);
@import url(../fonts/icomoon/style.css);
body {
  color: #FFF;
  background-color: #1C2329;
  font: 1.8em/1 'Open Sans', sans-serif;
  padding-top: 92px;
}

a {
  color: #00CC9A;
}
a:hover {
  text-decoration: none;
  color: #00f0b5;
}

hr {
  border-color: #6D747F;
}

body > .container {
  max-width: 100%;
  padding: 0;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}
header .container {
  box-sizing: border-box;
  padding: 30px;
  background-color: #060A17;
  max-width: 930px;
}

#logo {
  color: #6D747F;
  font: 2.5em/0.5 'Damion', sans-serif;
}

#nav-main {
  text-align: center;
}

#nav-main a {
  color: #6D747F;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}
#nav-main a:hover {
  color: #00CC9A;
}

#main {
  position: relative;
}
#main .container {
  position: relative;
  max-width: 960px;
}

.note, .date, .more {
  padding: 50px 100px;
  line-height: 1.5;
  color: #FFF;
  background-color: #343945;
  margin-top: 1px;
  position: relative;
}
.note .indicators, .date .indicators, .more .indicators {
  font-size: 16px;
  position: absolute;
  top: 17px;
  right: 30px;
}
.note .indicators span, .date .indicators span, .more .indicators span {
  margin-right: 10px;
}
.note .meta, .date .meta, .more .meta {
  color: #6D747F;
  border-top: 1px dashed #6D747F;
  font-size: .8em;
  margin: 50px 0 0;
  text-align: right;
}
.note .meta span, .date .meta span, .more .meta span {
  background-color: #343945;
  position: relative;
  top: -14px;
  left: -50px;
  padding: 0 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.note-hidden {
  display: none;
}

.date {
  padding: 0;
  color: #6D747F;
  background-color: #2b2f39;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
}
.date .triangle-left, .date .triangle-right {
  position: absolute;
  top: 0;
  left: 0;
}
.date .triangle-left path, .date .triangle-right path {
  fill: #1C2329;
}
.date .triangle-right {
  left: auto;
  right: 0;
}

.more {
  text-align: center;
  padding: 0;
  line-height: 1;
}
.more a {
  padding: 30px 0 20px;
  font-size: 64px;
  background-color: #00CC9A;
  color: #004d3a;
  display: block;
}
.more a:hover {
  background-color: #00f0b5;
}

#main .big-curve {
  position: absolute;
  top: 0;
  left: 0;
}
#main .big-curve path {
  fill: #FFF;
}

#top {
  background-color: #5B6475;
  height: 70px;
  position: relative;
}
#top .big-curve {
  position: absolute;
  bottom: 0;
  left: 0;
}
#top .big-curve path {
  fill: #FFF;
}

.big-triangle {
  display: block;
  margin: 0 auto;
}
.big-triangle path {
  fill: #060A17;
}

.tags-inline {
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 16px;
  border-top: 1px dashed #6D747F;
}
.tags-inline .tag {
  line-height: 1;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tags-inline .tag a:hover * {
  color: #00f0b5;
  border-color: #00f0b5;
}
.tags-inline .tag a span {
  height: 24px;
  line-height: 20px;
  border: solid #6D747F;
  border-width: 2px 0 2px 2px;
  background-color: #343945;
  font-size: .8em;
  font-weight: 700;
  padding: 0 0 0 10px;
  color: #6D747F;
  position: relative;
  z-index: 2;
  float: left;
  text-transform: uppercase;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tags-inline .tag a i {
  color: #6D747F;
  position: relative;
  top: -4px;
  left: -10px;
  z-index: 1;
  font-size: 32px;
}
.tags-inline .action-tag a i {
  left: 0;
}

.actions-note li {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
.actions-note li a {
  line-height: 1;
  font-size: 32px;
  padding: 15px 16px 13px;
  color: #6D747F;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.actions-note li a:hover {
  color: #00CC9A;
}
