@import url(forms.css);
@import url(icons.css);
@import url(scrollbar.css);
@import url(../fonts/icomoon/style.css);
body {
  color: #FFF;
  background-color: #1C2329;
  font: 1.8em/1 'Open Sans', sans-serif;
  padding-top: 92px;
}

a {
  color: #00CC9A;
}
a:hover {
  text-decoration: none;
  color: #00f0b5;
}

hr {
  border-color: #5B6475;
}

body > .container {
  max-width: 100%;
  padding: 0;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}
header .container {
  box-sizing: border-box;
  padding: 30px;
  background-color: #060A17;
  max-width: 930px;
}

#logo {
  color: #6D747F;
  font: 2.5em/0.5 'Damion', sans-serif;
}

#nav-main {
  text-align: center;
}

#nav-main a {
  color: #6D747F;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  box-sizing: border-box;
  position: relative;
}
#nav-main a:hover {
  color: #00CC9A;
}

#main {
  position: relative;
}
#main .container {
  position: relative;
  max-width: 960px;
}

.note, .date, .more {
  padding: 50px 100px;
  line-height: 1.5;
  color: #FFF;
  background-color: #343945;
  margin-top: 1px;
}

.note-hidden {
  display: none;
}

.date {
  padding: 0;
  background-color: #2b2f39;
  height: 80px;
  line-height: 80px;
  position: relative;
  text-align: center;
  font-size: 1.2em;
}
.date .triangle-left, .date .triangle-right {
  position: absolute;
  top: 0;
  left: 0;
}
.date .triangle-left path, .date .triangle-right path {
  fill: #1C2329;
}
.date .triangle-right {
  left: auto;
  right: 0;
}

.more {
  text-align: center;
  padding: 0;
  line-height: 1;
}
.more a {
  padding: 30px 0 20px;
  font-size: 64px;
  background-color: #00CC9A;
  color: #004d3a;
  display: block;
}
.more a:hover {
  background-color: #00f0b5;
}

#main .big-curve {
  position: absolute;
  top: 0;
  left: 0;
}
#main .big-curve path {
  fill: #FFF;
}

#top {
  background-color: #5B6475;
  height: 70px;
  position: relative;
}
#top .big-curve {
  position: absolute;
  bottom: 0;
  left: 0;
}
#top .big-curve path {
  fill: #FFF;
}

.big-triangle {
  display: block;
  margin: 0 auto;
}
.big-triangle path {
  fill: #060A17;
}

.tags-inline li {
  padding: 0;
  margin-left: 0;
  margin-right: 7px;
  background-color: #00CC9A;
}
.tags-inline li:hover {
  background-color: #00f0b5;
}
.tags-inline li a {
  padding: 7px 15px;
  color: #060A17;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.actions-note li {
  margin-left: 0;
  margin-right: 0px;
  padding: 0;
}
.actions-note li a {
  line-height: 1;
  font-size: 32px;
  padding: 15px 16px 13px;
  color: #6D747F;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.actions-note li a:hover {
  color: #00CC9A;
}
