::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #1C2329;
}

::-webkit-scrollbar-thumb {
  background-color: #343945;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00CC9A;
}
