
@import 'compass/css3';
@import 'forms.css';
@import 'icons.css';
@import 'scrollbar.css';
@import '../fonts/icomoon/style.css';

body {
	color: #FFF;
	background-color: #1C2329;
	font: 1.8em/1 'Open Sans', sans-serif;
	padding-top: 92px;
}

a {
	color: #00CC9A;
	&:hover {
		text-decoration: none;
		color: lighten(#00CC9A, 7%);
	}
}

hr {
	border-color: #6D747F;
}

body > .container {
	max-width: 100%;
	padding: 0;
}

header {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
	.container {
		box-sizing: border-box;
		padding: 30px; 
		background-color: #060A17;
		max-width: 930px;
	}
}

#logo {
	color: #6D747F;
	font: 2.5em/0.5 'Damion', sans-serif;
}

#nav-main {
	text-align: center;
}

#nav-main a {
	color: #6D747F;
	display: inline-block;
	margin: 0 10px;
	border-radius: 50%;
	box-sizing: border-box;
	position: relative;
	&:hover {
		color: #00CC9A;
	}
}

// #nav-sub  a {
// 	width: 100px;
// 	display: inline-block;
// 	line-height: 2;
// 	color: #FFF;
// 	i {
// 		font-size: 32px;
// 		display: block;
// 	}
// }

#main {
	// padding-bottom: 50px;
	position: relative;
	.container {
		position: relative;
		max-width: 960px;
	}
}

// #page-search #main {
// 	padding-top: 50px;
// }

// #nav-section {
// 	position: absolute;
// 	height: 100%;
// 	top: 30px;
// 	right: -50px;
// 	border-left: 1px solid #5B6475;
// 	padding: 10px;
// 	font-size: 32px;
// 	a {
// 		color: #5B6475;
// 		display: block;
// 		margin-bottom: 10px;
// 	}
// }

.note {
	background-color: #343945;
	margin-top: 1px;
	position: relative;
	// .indicators {
	// 	font-size: 16px;
	// 	position: absolute;
	// 	top: 17px;
	// 	right: 30px;
	// 	span {
	// 		margin-right: 10px;
	// 	}
	// }
	.meta {
		color: #6D747F;
		border-top: 1px dashed #6D747F;
		font-size: .8em;
		text-align: right;
		span {
			background-color: #343945;
			position: relative;
			top: -9px;
			left: -160px;
			padding: 0 10px; 
			@include inline-block;
		}
	}
	.triangle-up {
		display: none;
	}
	&.selected {
		.triangle-down {
			display: none;
		}
		.triangle-up {
			display: inline;
		}
	}
}

.note-text {
	padding: 50px 100px;
	line-height: 1.5;
	color: #FFF;
}

.note-hidden {
	display: none;
}

.note-lever {
	opacity: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-color: lighten(#343945, 2%);
	@include transition-property(opacity);
  	@include transition-delay(.3s);
	&:hover {
		opacity: 1;
	}
}

.triangle-down path,
.triangle-up path {
	fill: #1C2329;
}

.date {
	@extend .note;
	padding: 0;
	color: #6D747F;
	background-color: darken(#343945, 4%);
	height: 80px;
	line-height: 80px;
	position: relative;
	text-align: center;
	font-size: 2em;
	font-weight: 300;
	.triangle-left {
		position: absolute;
		top: 0;
		left: 0;
		path {
			fill: #1C2329;
		}
	}
	.triangle-right {
		@extend .triangle-left;
		left: auto;
		right: 0;
	}
}

.more {
	@extend .note;
	text-align: center;
	padding: 0;
	line-height: 1;
	a {
		padding: 30px 0 20px;
		font-size: 64px;
		background-color: #00CC9A;
		color: darken(#00CC9A, 25%);
		display: block;
		&:hover {
			background-color: lighten(#00CC9A, 7%);
		}
	}
}

// footer {
// 	// padding: 300px;
// }

#main .big-curve {
	position: absolute;
	top: 0;
	left: 0;
	path {
		fill: #FFF;
	}
}

#top {
	background-color: #5B6475;
	height: 70px;
	position: relative;
	.big-curve {
		position: absolute;
		bottom: 0;
		left: 0;
		path {
			fill: #FFF;

		}
	}
}

.big-triangle {
	display: block;
	margin: 0 auto;
	path {
		fill: #060A17;
	}
}

.tags-inline {
	margin: 0;
	padding: 30px 100px 55px;
	border-top: 1px dashed #6D747F;
	.tag {
		line-height: 1;
		margin: 0;
		padding: 0;
		overflow: hidden;
		a {
			&:hover {
				* {
					color: lighten(#00CC9A, 7%);
					border-color: lighten(#00CC9A, 7%);
				}
			}
			span {
				height: 24px;
				line-height: 20px;
				border: solid #6D747F;
				border-width: 2px 0 2px 2px;
				background-color: #343945;
				font-size: .8em;
				font-weight: 700;
				padding: 0 0 0 10px;
				color: #6D747F;
				position: relative;
				z-index: 2;
				float: left;
				text-transform: uppercase;
				@include inline-block;
				@include border-radius(4px 0 0 4px);
			}
			i {
				color: #6D747F;
				position: relative;
				top: -4px;
				left: -10px;
				z-index: 1;
				font-size: 32px;
			}
		}
	}
	.action-tag a i{
		left: 0;
	}
}

.actions-note {
	padding: 0 100px 5px;
	li {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		&:hover {
			// background-color: lighten(#00CC9A, 7%);
		}
		a {
			line-height: 1;
			font-size: 32px;
			padding: 15px 16px 13px;
			color: #6D747F;
			@include inline-block;
			&:hover {
				// background-color: #060A17;
				color: #00CC9A;
			}
		}
		// &.action-star {
		// 	background-color: #C90;
		// }
		// &.action-edit {
		// 	margin-right: 0;
		// 	background-color: #CC0081;
		// }
		// &.action-share {
		// 	background-color: #0064CC;
		// }
		// &.action-publish {
		// 	background-color: #00C0CC;
		// }
		// &.action-trash {
		// 	background-color: #999;
		// }
	}
}