<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/btn-icon-preview.css">
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'>
		<script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
	<body ng-app="btn-icon">
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		<div class="page-header">
			<div class="container">
				<h1>.btn-icon <small>and .btn-extend</small></h1>
			</div>
		</div>

		<div class="container main" ng-controller="MainCtrl">

			<div class="row">
				<div class="col-md-3">
					<label>Button Style</label><br>
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default" ng-click="icon.circle = false; icon.flat = false;">
							<input type="radio"> Default
						</label>
						<label class="btn btn-default active" ng-click="icon.circle = true; icon.flat = false;">
							<input type="radio" ng-model="icon.circle"> Circle
						</label>
						<label class="btn btn-default" ng-click="icon.flat = true; icon.circle = false;">
							<input type="radio" ng-model="icon.flat"> Flat
						</label>
					</div><br><br>
					<label>Icon Size</label>
					<select ng-model="icon.size" ng-options="s.name for s in sizes" class="form-control"></select><br>
					<label>Button Color</label>
					<select ng-model="icon.color" ng-options="c.name for c in colors" class="form-control"></select>
				</div>

				<div class="col-md-9 text-center icon-preview">
					<div class="icon-preview-inner">
						<a href="#" class="btn btn-default btn-cool-hover {{icon.size.value}} {{icon.color.value}}" ng-class="{'btn-icon-circle': icon.circle, 'btn-flat': icon.flat}"><i class="icon-droplet first-child"></i><i class="icon-leaf last-child"></i></a>
						&nbsp;
						<a href="#" class="btn btn-default {{icon.size.value}} {{icon.color.value}} active" ng-class="{'btn-icon-circle': icon.circle, 'btn-flat': icon.flat}"><i class="icon-fire"></i></a>
					</div>
				</div>

			</div>
		</div>

		<div class="main">
			<div class="container">
				<button class="btn btn-xl btn-block btn-inverse btn-cool-hover"><span class="icon-file-zip"></span><span class="icon-cloud-download"></span></button>
			</div>
		<div>
		<!-- <textarea class="form-control" rows="40"></textarea> -->

		<footer>
			
		</footer>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/btn-icon.js"></script>
		<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>